azure/environments/dev/.terraform
azure/environments/dev/.terraform.lock.hcl
azure/environments/prd/.terraform
azure/environments/prd/.terraform.lock.hcl
azure/integration/app-openarabdict/translation-function-app/node_modules
azure/integration/app-openarabdict/translation-function-app/translation-function/dist
azure/integration/app-openarabdict/translation-function-app/translation-function/node_modules
azure/integration/node-spa-webserver/dist
azure/integration/node-spa-webserver/node_modules
azure/integration/node-webserver/node_modules